html, body, .container {
  height: 100%;
}

body {
  background-image: .jpg;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: ;
  font: 18px/23px "Cantarell", sans-serif;
}

html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

h1 {
//color: #efecec;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
}

a {
  color: #ffffff;
}

p {
  margin: 0 0 15px 0;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  z-index: 9999;
  position: fixed;
}

  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

.navbar a {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 5px;
}


}
