header{
	background: #beea37;
	text-align: center;
	width: 90%;
	height: 10%;
	margin-left: 5%;
	margin-top: 5%;
}

body{
	background: white;
	height: 100%;
}

#container{
    width:100%; 
    height:100%; 
}

.dropdown{
    display: inline-block;
}

.dropdown-button{
	font-family: Helvetica;
	background-color: blue;
    color: white;
	padding: 21px;
    font-size: 16px;
	border: none;
    margin: 0 0 0 0;
    text-shadow: 1px 1px black;
	cursor: pointer;
}

.dropdown-content{
	display: none;
    position: absolute;
    background-color: #1BE1E1;
    min-width: 169px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
	color: white;
	text-shadow: 1px 1px black;
	padding: 10px;
	font-family: Helvetica;
	text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-button{
    background-color: blue;
}

.middle{
	margin-top: 4%;
	margin-left: 0%;
	width: 100%;
	color: white;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: black;
	text-align: center;
}

.news{
	margin: 5% 0px 5%;
	border: none;
	padding: 5% 0% 40%;
}

.left{
	border: 2px solid black;
	width: 40%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	background-color: purple;
	color: black;
	margin-left: 7%;
	font-size: 100px;
	float: left;
}

.right{
	border: 2px solid black;
	width: 40%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	background-color: purple;
	color: black;
	font-size: 100px;
	margin-right: 7%;
	float: right;
}

footer{
	margin: 5% 5% 5%;
	width: 90%;
	padding-bottom: 10px;
}

.first{
	font-family: Helvetica;
	text-align: center;
	padding: 10px 0 10px;
	width: 100%;
	border: 2px solid black;
	margin: 0 0 0 0;
}

.second{
	width: 100%;
	border: 2px solid black;
	margin: 0 0 0 0;
	padding: 10% 0 10%;
}

.contain{
	text-align: center;
	margin-top: 5%;
	font-size: 50px;
	font-family: Helvetica;
}

#image .inblock{
    display: inline-block;
    height: 270px;
    width: 270px;
    border: 1.5px solid #dfe0dc;
    margin: 10px 10px;
    margin-top: 5%;
    margin-left: 9.2%;
    vertical-align: top;
}

.inblock-txt{
	font-family: Helvetica;
	font-weight: bold;
    font-size: 15px;
    color: #d6a308;
    margin-top: -40%;
    margin-left: 50%;
    text-align: center;
}

.inblock-desc{
	font-family: Helvetica;
	font-size: 14px;
    margin-top: 22%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.inblock-descTwo{
	font-family: Helvetica;
	font-size: 14px;
    margin-top: 14%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.inblock-descThree{
	font-family: Helvetica;
	font-size: 14px;
    margin-top: 28%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}


#image .inblock:hover{
	border: 1.7px solid #fbf7b8;
	background-color: #f5f4f2;
}

/*.container-aboutUs{
	height: 100%;
	width: 100%;
	margin-top: 2%;
	margin-left: 0%;
	margin-right: 0%;
	position: relative;
}*/

.aboutUs{
	height: 100%;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

.aboutUs:hover{
	opacity: .95;
}

.aboutUs-txt{
	width: 50%;
	height: 20%;
	margin-left: 20%;
	margin-top: 5%;
	font-family: Helvetica;
	font-size: 24px;
	text-align: right;
}

.genderEq{
	margin-left: 20%;
	margin-top: -1%;
}

.genderEq:hover{
	opacity: .9;
}

.aboutUs-txtTwo{
	line-height: 1.5;
	width: 35%;
	margin-left: 36%;
	margin-top: -18%;
	font-family: Helvetica;
	font-size: 18px;
	text-align: left;
}

.aboutUs-mission{
	margin-left: 10%;
	margin-top: 8%;
	font-family: Helvetica;
	font-size: 27px;
	font-weight: bold;
	text-align: left;
}

.aboutUs-missionTxt{
	line-height: 1.5;
	margin-left: 10%;
	margin-top: 2%;
	font-family: Helvetica;
	font-size: 18px;
	text-align: left;
}

#txt .inblockMission{
    display: inline-block;
    width: 35%;
    margin: 10px 10px;
    margin-top: 5%;
    margin-left: 9.2%;
    vertical-align: top;
}

