html {
    max-width: 100%;
    height: auto;
    width: auto;
}

#logo {
    margin: 0;
    height: auto;
    width: auto; 
  }

#logo img {
    max-width: 100%;
    height: auto;
    width: auto;    
    object-fit: contain;
}

body {
  height: auto;
  width: auto;  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:cornsilk;
  color: #FFF;
  margin: 0;
  text-transform: uppercase;
  font-size: 100%;
  font-family: 'Arial'; 
}

header {
    height: auto;
    width: auto;	
	margin: auto;
}

header:after {
	content: '';
	display: block;
	clear: both;
}

.menu {
    position: relative;
    margin: auto;
    text-align: center;
    float: right;
    z-index: 2;
}

.menu a {
    display: block;
    padding: 15px;
    font-size: 90%;
    color: #FFF;
    text-align: center;
    text-transform: Uppercase;
    text-decoration: none;
    margin: auto;
}

.menu button {
    display: block;
    padding: 15px;
    color: #FFF;
    text-align: center;
    text-transform: Uppercase;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.dropdown-button {
    background-color: yellowgreen;
    color: #FFF;
    font-size: 90%;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    display: inline-block;
	margin: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
	right: 1;
    background-color: cornflowerblue;
    min-width: 100%;
	z-index: 3;
}

.dropdown-content a {
    color: #FFF;
    text-decoration: none;
    font-size: 90%;
    padding: 15px 20px;
    font-weight: bolder;
}

.dropdown-content a:hover {
    background-color:darksalmon;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color:darkgoldenrod;
}