html {
    max-width: 100%;
    height: auto;
    width: auto;
}

#logo {
    margin: 0;
    max-width: 100%;
    height: auto;
    width: auto;    
  }

img {
    max-width: 100%;
    height: auto;
    width: auto;    
    object-fit: contain;
}

.menu {
    display: block;
    position: relative;
    margin: auto;        
    text-align: center;
    float: right;
    z-index: 2;
}

.menu a {
  display: block;
  padding: 15px;
  text-align: center;
}

body {
  max-width: 100%;
  height: auto;
  width: auto;  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #;
  color: #FFF;
  margin: 0;
  text-transform: uppercase;
  font-size: 100%;
  font-family: 'Arial'; 
}

header {
    margin-left: 40%;
    max-width: 100%;
    height: auto;
    width: auto
}

a {
    margin: auto;
    text-align: center;
}

h1 {
  color: #FFF;
  text-transform: Uppercase;
  font-size: 50px;
  line-height: 20px;
  font-weight: 500;
}

button {
    display: inline-block;
    padding: 15px;
    color: #FFF;
    text-transform: Uppercase;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #89EB4F;
    color: #FFF;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:cornflowerblue;
    min-width: 160px;
}

.dropdown-content a {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 20px;
    font-weight: bolder;
}

.dropdown-content a:hover {
    background-color:darksalmon;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color:darkgoldenrod;
}

.read {
    position: relative;
    background-color:darkgoldenrod;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.read:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.middle {
    display: block;
    max-width: 1240px;
    position: relative;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    background-color:black;
    transition: background 1s linear 0s, color 3s linear 0s;
    height: 100%; 
    width: 100%;
    object-fit: contain;
}

slide {
    position: relative;
    display: inline-block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  margin: auto;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover {
  background-color:chartreuse;
}

.news {
    margin: 5% 0px 5%;
	border: none;
	padding: 5% 0% 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.left {
    background-color:cornflowerblue;
    width: 40%;
    padding-top: 70px;
	padding-bottom: 70px;
    color: #FFF;
    margin-left: 4%;
    border: 3px solid;
    float: left;
    opacity:0.5;
  }

.left:hover {
    opacity:1;
    box-shadow: inset 0 0 0 25px darkorange;
    background-color:#89EB4F;
    transform: scale(1.2);
}

.right {
    background-color:cornflowerblue;
    width: 40%;
    padding-top: 70px;
	padding-bottom: 70px;
    color: #FFF;
    margin-right: 4%;
    border: 3px solid;
    float: right;
    opacity:0.5;
}

.right:hover {
    opacity:1;
    box-shadow: inset 0 0 0 25px darkorange;
    background-color:#89EB4F;
    transform: scale(1.2);
}

footer {
    margin: 50px 50px 50px;
	width: 90%;
}

.foot {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.first {
    width: 100%;
    padding: 15px 15px;
    border: 3px solid;
    margin: 0 0 0 0;
    color: #000;
}

.second {
    width: 30%;
    padding: 5px;
    border: 3px solid;
    margin-top: 3%;
    color:#89EB4F;
    float: left;
    margin-right: auto;
}

.third {
    margin: 0 0 0 0;
    width: 30%;
    padding: 5px;
    border: 3px solid;
    margin-top: 3%;
    color:#89EB4F;
    float: left;
    margin-left: 40px;
}

.fourth {
    width: 30%;
    padding: 5px;
    margin-top: 3%;
    color:#89EB4F;
    float: right;
    margin-left: 20px;

}

p {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.meet {
    color: black;
    font-weight: bold;
}

.team {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 16px;
    padding: 0 20px;
    color: black;
    margin-left: auto;
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.submit {
    background-color:darkgoldenrod;
    color: #FFF;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 5px 5px white; 
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.submit:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.team {
    border: 2px solid #ccc;
    text-align: center;
    width: 35%;
    height: 50%;
}

.team:hover {
    border: 3px solid darkorange;
}

.team img {
    width: auto;
    height: auto;
}

.team p {
    padding: 45px;
}

.events {
    color: black;
    border: 2px solid #ccc;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    padding: 40px;
}

.about {
    color: black;
    border: 2px solid #ccc;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    padding: 40px;
}

.faqs {
    color: black;
    border: 2px solid #ccc;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    padding: 40px;
}
